<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mars[loginPage]</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="flex">
        <form th:action="@{/mars/login/check}" method="post">
            <h1>Terraformacja Marsa</h1>
            <input type="text" name="login"/>
            <input type="password" name="passwd"/>

            <input type="submit" value="Zaloguj się" />
        </form>
    </div>

    <div class="register">
        <a th:href="@{/mars/register}">zajestruj się</a>
    </div>

    <div th:if="${c}" class="success"> Udało się zarejstrować !!!</div>
</body>
</html>